

    body{ font-family: "open sans", sans-serif;
    
    }
    nav{
         display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.4rem;   
    }
     *  { margin: 0%;
    padding: 0%;
box-sizing: border-box;
}

span.logo{
    color: #D70F64;
    font-size: 1.6rem;
    font-weight: 500px;
}
nav.active{ 
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}
  /* hero section/ */
section.hero{ 
    padding: 60px;
    height: 602px;
    padding-bottom: 0%;
    position: relative;
    z-index: -1;
    
}
.hero > h3{ 
    font-size: 3rem;
    font-weight: 300;
    margin-top: 9rem;
    min-width: 250px;
    width: 70%;}
.search{ 
    height: 100px;
    width: 782px;
}
.findfood{ 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s ease;
    border: 1px solid;
    font-size: 15px;
    background-color: #e92479;
    padding: 15px;
    border-radius: 6px;
    color: aliceblue;
    margin-left: 25px;
}
.heroimg{
    height: 490px;
    width: 540px;
    position: absolute;
    margin-left: 56%;
    margin-bottom: 0%;
}
.home-vendo{
     height: 70%;
     width: 100%; 
    }

 section.partner { 
    font: 18px "Open sans" ;
    margin-left: 40px;
    background-color: #f5f3ef;
    padding: 60px;
    padding-bottom: 0%;
    position: relative;
    z-index: -1;   
}  


.partner > h3{
    font-size: 40px;
    font-weight:10px;
  margin-left: 80px;
  font: "Open sans";
}



.search>input{ 
background-color: #ffffff;
padding: 12px;
height: 59px;
width: 600px;
font-size: 80%;
border-radius: 10px;
border-color: #a8a8a823;
color: #ded7da78;
position: relative;
}
 /* partners section */
.partners{
   margin: 4rem 0; 
   position: relative;
}
.partners .caption{
    padding: 0 2rem;
        font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
.partners .background-image{
    background:url(./home-vendor-pk.webp);
    min-height: 700px;
    background-size: cover;
    height: 100%;
    z-index: -1;
    position: relative;
}
.partners .content{
    
    margin-top: 1rem;
    background-color: white;
    margin: 0 1rem;
    padding: 12px 18px;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
     width: 900px;
    height: 100px;
    z-index: -1;
    position: absolute;
}
.content p{
    font-size: 0.9rem;
    color: rgb(176, 174,174);
}
.content .header-text{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgb(18, 17, 17);
}
.content button{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s ease;
    border: 1px solid;
    font-size: 15px;
    background-color: #e92479;
    padding: 15px;
    border-radius: 6px;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 1rem;}



